#contenedor {
    width: 360px;
    margin: auto;
    background-color: floralwhite;
    padding-left: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

span {
    width: 100px;
    display: block;
    float: left;
    padding-left: 4px;
}

.titu, .titi {
    background-color: #0df39b;
    text-align: center;
}

.nom {
    background-color: darkgrey;
}

li {
    list-style: none;
    margin-top: 5px;
}

ul {
    margin: 0px;
    padding-left: 0px;
}