
body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

.cabezaGato {
    width: 200px;
    height: 180px; 
    background-color: #6d6d6d; 
    border-radius: 50%;
    position: relative;
    
    display: flex; 
    flex-direction: column;
    align-items: center;
}


.oreja {
    position: absolute;
    width: 0;
    height: 0;
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    border-bottom: 50px solid #6d6d6d; 
    top: -45px; 
}


.oreja::after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 30px solid #e0b0e0; 
    top: 15px;
    left: -15px; 
}

.orejaIzq {
    transform: rotate(-15deg); 
    left: 20px;
}

.orejaDer {
    transform: rotate(15deg);
    right: 20px;
}


.ojo {
    width: 25px;
    height: 25px;
    background-color: #333333;
    border-radius: 50%;
    position: absolute;
    top: 60px;
}

.ojoIzq {
    left: 50px;
}

.ojoDer {
    right: 50px;
}


.nariz {
    position: absolute;
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 12px solid #f08080; 
    top: 90px;
}


.bigote {
    position: absolute;
    width: 45px;
    height: 2px;
    background-color: black;
    top: 110px;
}

.bigoteIzq1 {
    left: 10px;
    transform: rotate(-10deg);
}
.bigoteIzq2 {
    left: 10px;
    top: 120px;
    transform: rotate(10deg);
}

.bigoteDer1 {
    right: 10px;
    transform: rotate(10deg);
}
.bigoteDer2 {
    right: 10px;
    top: 120px;
    transform: rotate(-10deg);
}