.pacman-static {
    width: 100px;      
    height: 100px;
    background: #ffd700;
    border-radius: 50%;
    cursor: pointer;   
    
    clip-path: polygon(100% 20%, 100% 0%, 50% 50%, 100% 100%, 100% 80%, 0% 100%, 0% 0%);
    
    transition: all 0.3s ease;
}

.pacman-static:hover {
    animation: comer 0.3s infinite alternate; 
}

@keyframes comer {
    0% {
        /* Boca abierta */
        clip-path: polygon(100% 20%, 100% 0%, 50% 50%, 100% 100%, 100% 80%, 0% 100%, 0% 0%);
    }
    100% {
        /* Boca cerrada (ojo al 3er punto) */
        clip-path: polygon(100% 0%, 100% 0%, 100% 50%, 100% 100%, 100% 100%, 0% 100%, 0% 0%);
    }
}
