.texto_corriendo{
    padding: 5px;
    color: red;
    font-size: 20px;
    font-weight: bold;
    animation-name: movimiento;
    animation-duration: 10s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}

@keyframes movimiento {
    from{
        margin-left: 100%;
        width: 300%;
    }
    to{
        margin: 0px;
        width: 100%;
    }
}