.caraOso{
    width: 200px;
    height: 200px;
    background-color: #ca641b;
    border-radius: 50%;
    position: relative;
    margin: 50px auto;
}
.oreja{
    width: 100px;
    height: 120px;
    background-color: #ca641b;
    position: absolute;
    top: -40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: -1;
}
.oreja::before{
content: "";
width: 60px;
height: 80px;
background-color: #f5deb3;
border-radius: 50%;

}

.orejaIzq{
    left: -20px;
}
.orejaDer{
    right: -20px;
}

.ojos{
    width: 40px;
    height: 40px;
    background-color: rgb(0, 0, 0);
    position: absolute;
    top: 60px;
    border-radius: 50%;
}
.ojoIzq{
    left: 40px;
}
.ojoDer{
    right: 40px;
}

.hocio{
    width: 100px;
    height: 80px;
    background-color: #f5deb3;
    position: absolute;
    top: 90px;
    left: 50px;
    border-radius: 50%;
}