.cuadrado{
    width: 100px;
    height: 100px;
    background-color: brown;
    margin-left: 20px;
}

.rombo{
    width: 100px;
    height: 100px;
    background-color: brown;
    margin-left: 20px;
    transform: rotate(45deg);
}

.paralelogramo{
    width: 150px;
    height: 100px;
    background-color: brown;
    margin-left: 20px;
    transform: skew(20deg);
}

.triangulo{
    width: 0px;
    height: 0px;
    margin-left: 20px;

    border-left: 65px solid brown;
    border-top: 65px solid transparent;
    border-right: 65px solid transparent;
    border-bottom: 65px solid brown;
}

.circulo{
    width: 100px;
    height: 100px;
    background-color: brown;
    border-radius: 50%;
}

.circulo2{
    width: 0px;
    height: 0px;
    margin-left: 20px;
    border-radius: 100%;

    border-left: 65px solid yellow;
    border-top: 65px solid yellow;
    border-right: 65px solid transparent;
    border-bottom: 65px solid yellow;
}

.diamante{
    width: 100px;
    height: 100px;
    background-color: brown;
    margin-left: 20px;
clip-path: polygon(50% 0%, 100% 25%, 50% 100%, 0% 25%, 15% 0%);
}