.bandera div{
    display:flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-weight: bold;
    font-size: 24px;
    color: red;
}

.bandera::before, .bandera::after{
    content: "";
    position: absolute;
    
}