h1 {
color: rgb(42, 7, 168);
font-family:  sans-serif;
}

h2{
color: rgb(187, 46, 11);
}
u{
    color: blue;
}
strong{
    color: rgb(12, 12, 160);
}
body{
     font-family: Arial, sans-serif;
  margin: 20px;
  background-color: #ffffff;
  color: #000000;

}
th{
    color: blue;
    border: 1px solid #000000;
    padding: 8px;
    text-align: left;

}
td{
    font-size: 15px;
}
li{
   
}