body {
  background-color: #f0f0f0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.raton {
  position: relative;
  width: 150px;
  height: 150px;
}

/* Orejas */
.oreja {
  width: 0;
  height: 0;
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
  border-bottom: 40px solid #999;
  position: absolute;
}

.oreja.izquierda {
  top: 0;
  left: 10px;
  transform: rotate(-10deg);
}

.oreja.derecha {
  top: 0;
  right: 10px;
  transform: rotate(10deg);
}

/* Cara */
.cara {
  background-color: #aaa;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  position: absolute;
  top: 30px;
  left: 15px;
}

/* Ojos */
.ojo {
  width: 20px;
  height: 20px;
  background-color: white;
  border-radius: 50%;
  position: absolute;
  top: 40px;
}

.ojo.izquierdo {
  left: 25px;
}

.ojo.derecho {
  right: 25px;
}

.ojo::after {
  content: "";
  width: 10px;
  height: 10px;
  background-color: black;
  border-radius: 50%;
  position: absolute;
  top: 5px;
  left: 5px;
}

/* Nariz */
.nariz {
  width: 14px;
  height: 10px;
  background-color: pink;
  border-radius: 50%;
  position: absolute;
  top: 70px;
  left: 50%;
  transform: translateX(-50%);
}

/* Boca */
.boca {
  width: 40px;
  height: 20px;
  border-bottom: 3px solid black;
  border-radius: 0 0 40px 40px;
  position: absolute;
  top: 80px;
  left: 50%;
  transform: translateX(-50%);
}
